<!DOCTYPE html>
<html lang="zxx">
<head>
    <!DOCTYPE html>
    <html lang="zxx">

    <head>

            <script src="https://use.fontawesome.com/9fb4b83f9f.js"></script>

            <!-- Main Stylesheet -->
            <link href="{{ asset('Front/css/style.css') }}" rel="stylesheet">

            <!--Favicon-->
            <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
            <link rel="icon" href="images/favicon.png" type="image/x-icon">

            <style>
                .mystar{
                    font-size: 25px !important;
                    color: #f9d933 !important;
                }
            </style>


        <meta charset="utf-8">
        <title>Educenter</title>

        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/bootstrap/bootstrap.min.css') }}">
        <!-- slick slider -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/slick/slick.css') }}">
        <!-- themefy-icon -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/themify-icons/themify-icons.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/animate/animate.css') }}">
        <!-- aos -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/aos/aos.css') }}">
        <!-- venobox popup -->
        <link rel="stylesheet" href="{{ asset('Front/plugins/venobox/venobox.css') }}">

        <!-- Main Stylesheet -->
        <link href="{{ asset('Front/css/style.css') }}" rel="stylesheet">

        <!--Favicon-->
        <link rel="shortcut icon" href="{{ asset('Front/images/favicon.png')}}" type="image/x-icon">
        <link rel="icon" href="{{ asset('Front/images/favicon.png') }}" type="image/x-icon">


    </head>

<body>
<header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 text-center text-lg-left">
                    <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
                    <ul class="list-inline d-inline">
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 text-center text-lg-right">
                    <ul class="list-inline">
                        <h3>
                            <li class="list-inline-item"><a  href="{{path('fos_user_security_login')}}" >login</a></li>
                            <li class="list-inline-item"><a href="{{ path('fos_user_registration_register') }}">register</a></li></h3>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <div class="navigation w-100">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="index.html"><img src="{{ asset ('Front/images/logo.png') }}"  alt="logo"></a>
                <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('user_homepage')}}">Home</a>
                        </li>
                        <li class="nav-item @@about">
                            <a class="nav-link" href="#">Garderie</a>
                        </li>
                        <li class="nav-item @@blog">
                            <a class="nav-link" href="blog.html">Espace Enfant</a>
                        </li>
                        <li class="nav-item @@blog">
                            <a class="nav-link" href="{{path('Animateur_Front_Affiche')}}">Espace Animatuer</a>
                        </li>
                        <li class="nav-item @@courses">
                            <a class="nav-link" href="{{ path('affichclubfront') }}">CLUBS</a>
                        </li>
                        <li class="nav-item @@events">
                            <a class="nav-link" href="{{ path('afficheventfront') }}">EVENTS</a>
                        </li>
                        <li class="nav-item @@blog">
                            <a class="nav-link" href="{{ path('AfficherMedecin_Front') }}">Espace Santé</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- /header -->
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="teacher.html">NOS ANIMATEURS</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">{{a.prenom}}    {{a.nom}} </li>
                </ul>
                <p class="text-lighten"><strong>Votre reussite est notre bonheur</strong></p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- teacher details -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="card-img-top rounded-0" src="{{ asset('Upload/')}}{{ a.nomfile }}" alt="course thumb">            </div>
            <div class="col-md-6 mb-5">
                <h3>Les formations:</h3>
                <p class="mb-5">
                    {% for f in formation %}
                 <li>
                    {{ f.idformateur.getTitre() }}
                    {% endfor %}
                </p>
            </li>
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h4 class="mb-4">Les informations:</h4>
                        <li><strong>nom:</strong><i class="ti-email mr-2"></i>{{ a.nom}}</a></li>
                        <li><strong>prenom:</strong><i class="ti-facebook mr-2"></i>{{a.prenom}}</a></li>
                        <li><strong>activite:</strong><i class="ti-mobile mr-2"></i>{{a.activiter}}</a></li>
                        </ul>


                    </div>
                </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div style="display: flex;">

                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                &nbsp; &nbsp;&nbsp;&nbsp;
                                <button id="btnVote" class="btn btn-success">Vote</button>

                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- course item -->

            <!-- course item -->

            <!-- course item -->

        </div>
    </div>
</section>
<!-- /teacher details -->

<!-- footer -->
<footer>
    <!-- newsletter -->

    <div class="footer bg-footer section border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                    <!-- logo -->
                    <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/logo.png" alt="logo"></a>
                    <ul class="list-unstyled">
                        <li class="mb-2">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
                        <li class="mb-2">+1 (2) 345 6789</li>
                        <li class="mb-2">+1 (2) 345 6789</li>
                        <li class="mb-2">contact@yourdomain.com</li>
                    </ul>
                </div>
                <!-- company -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">COMPANY</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="about.html">About Us</a></li>
                        <li class="mb-3"><a class="text-color" href="teacher.html">Our Teacher</a></li>
                        <li class="mb-3"><a class="text-color" href="contact.html">Contact</a></li>
                        <li class="mb-3"><a class="text-color" href="blog.html">Blog</a></li>
                    </ul>
                </div>
                <!-- links -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">LINKS</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="courses.html">Courses</a></li>
                        <li class="mb-3"><a class="text-color" href="event.html">Events</a></li>
                        <li class="mb-3"><a class="text-color" href="gallary.html">Gallary</a></li>
                        <li class="mb-3"><a class="text-color" href="faqs.html">FAQs</a></li>
                    </ul>
                </div>
                <!-- support -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">SUPPORT</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="#">Forums</a></li>
                        <li class="mb-3"><a class="text-color" href="#">Documentation</a></li>
                        <li class="mb-3"><a class="text-color" href="#">Language</a></li>
                        <li class="mb-3"><a class="text-color" href="#">Release Status</a></li>
                    </ul>
                </div>
                <!-- support -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">RECOMMEND</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="#">WordPress</a></li>
                        <li class="mb-3"><a class="text-color" href="#">LearnPress</a></li>
                        <li class="mb-3"><a class="text-color" href="#">WooCommerce</a></li>
                        <li class="mb-3"><a class="text-color" href="#">bbPress</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text-sm-left text-center">
                    <p class="mb-0">Copyright
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>
                        © themefisher</p>
                </div>
                <div class="col-sm-5 text-sm-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{{ asset('Front/plugins/jQuery/jquery.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('Front/plugins/bootstrap/bootstrap.min.js') }}"></script>
<!-- slick slider -->
<script src="{{ asset('Front/plugins/slick/slick.min.js') }}"></script>
<!-- aos -->
<script src="{{ asset('Front/plugins/aos/aos.js') }}"></script>

<script src="{{ asset('home/js/bootstrap/popper.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{asset ('home/js/bootstrap/bootstrap.min.js') }}"></script>
<!-- venobox popup -->
<script src="{{ asset('Front/plugins/venobox/venobox.min.js') }}"></script>
<!-- filter -->
<script src="{{ asset('Front/plugins/filterizr/jquery.filterizr.min.js') }}"></script>
<!-- google map -->
<script src="{{ asset('Front/plugins/google-map/gmap.js') }}"></script>
<script>
    // Starrr plugin (https://github.com/dobtco/starrr)
    var __slice = [].slice;
    $("#btnVote").click(function () {
        var number = $(".fa-star").length;
        alert("merci pour votre vote : "+number)
        console.log({number});
        var obj = {
            "rate" :number,
            "animateur" : {{ a.cin }}
        }
        $.ajax({
            url: '{{ path('rate_') }}',
            type: 'post',
            data: JSON.stringify(obj),
            success: function (result) {
                console.log(result);
                fillStars(result-1);
            }
        });
        console.log(number);
    })

    $(document).ready(function () {
        $(".mystar").each(function (i,e) {
            $(this).click(function () {

                fillStars(i);
            })
        })
            fillStars(Math.round({{ a.rate-1 }}));
    });

    function fillStars(index) {
        $(".mystar").each(function (i,e) {
            if(i<=index){
                $(this).removeClass();
                $(this).addClass("fa fa-star mystar");
            }else{
                $(this).removeClass();
                $(this).addClass("fa fa-star-o mystar");
            }
        })
    }
</script>
<!-- Main Script -->
<script src="{{ asset('Front/js/script.js') }}"></script>
</body>
</html>