{% extends '@Club/Default/layoutBack.html.twig' %}
{% block body %}

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      <!------ Include the above in your HEAD tag ---------->





      <h3><i class="fa fa-angle-right"></i> LISTE DES MEDECINS </h3>
      <div class="row mb">
          <div class="d-flex justification-content-center h-100">
              <form method="post">
                  <div class="searchbar">
                      <input class="search_input" type="text" name="name " placeholder=" Search ... " id="myInput">
                      <a href="#" class="search_icon" value="recherche"></a>
                  </div>
              </form>
          </div>
          <!-- page start-->
          <div class="content-panel">

              <a class="" style="float : right;"  >

              <a  style="float : right;" onclick="sortItDown();" href="javascript:void(0);" style="text-decoration : none; ">
                  <i class="glyphicon glyphicon-sort-by-order-alt " style="margin-left :11px;"></i> Trier Ordre Décroissant </a>

              <a  style="float : right;" onclick="sortItUp();" href="javascript:void(0);" style="text-decoration : none; ">
                  <i class=" glyphicon glyphicon-sort-by-order" style=""></i> Trier Ordre Croissant </a>

              </a>


              <div class="adv-table">
                  <table id="myTable" cellpadding="0" cellspacing="0" border="0" class="display table table-bordered">

                      <thead>
                      <tr>
                          <th>CIN</th>
                          <th>NOM</th>
                          <th class="hidden-phone">PRENOM</th>
                          <th class="hidden-phone">SPECIALITE</th>
                          <th class="hidden-phone">IMAGE</th>
                          <th>ACTION</th>
                      </tr>
                      </thead>

                      <tbody id="myTable">
                      {% for m in medecin %}
                          <tr class="gradeX" cin="{{ m.cin }}">
                              <td>{{ m.cin }}</td>
                              <td>{{ m.nom }}</td>
                              <td class="hidden-phone">{{ m.prenom }}</td>
                              <td class="center hidden-phone">{{ m.specialite }}</td>
                              <td class="center hidden-phone"><img src="{{ asset('Upload/') }}{{ m.nomfile }}"
                                                                   width="100" class="img-circle"/></td>
                              <td><a href="{{ path('SupprimerMedecin',{'id':m.cin}) }}" class="btn btn-danger btn-xs"><i
                                              class="fa fa-trash-o "></i>Supprimer</a>
                                  <a href="{{ path('Modifier_Medecin',{'id':m.cin}) }}"
                                     class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>Modifier</a><br><br>
                                  <a href="{{ path('InfoMedecin',{'id':m.cin}) }}" class="btn btn-success btn-xs"> <i
                                              class="fa fa-check"> Info</a></td>
                              <br>

                          </tr>
                      {% endfor %}


                      </tbody>
                  </table>
              </div>
          </div>
          <!-- page end-->
      </div>
      <!-- /row -->

      <!-- /wrapper -->

      <!-- /MAIN CONTENT -->
      <!--main content end-->
      <!--footer start-->

      <!--footer end-->

      <!-- js placed at the end of the document so the pages load faster -->
      <script type="text/javascript" language="javascript"
              src="{{ asset('Back/lib/advanced-datatable/js/jquery.js') }}"></script>
      <script type="text/javascript" language="javascript"
              src="{{ asset('Back/lib/advanced-datatable/js/jquery.dataTables.js') }}"></script>
      <script type="text/javascript" src="{{ asset('Back/lib/advanced-datatable/js/DT_bootstrap.js') }}"></script>
      <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>

      <!--common script for all pages-->

      <!--script for this page-->

      <script>
          $(document).ready(function () {
              $("#myInput").on("keyup", function () {
                  var value = $(this).val().toLowerCase();
                  $("#myTable tr").filter(function () {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
          });



          function sortItDown(){

              var tb = $('#myTable');
              var rows = tb.find('tr');

              rows.sort(function(a, b) {
                  var keyA = $(a).attr('cin');
                  var keyB = $(b).attr('cin');
                  return keyB - keyA;
              });
              $.each(rows, function(index, row) {
                  tb.append(row);
              });




          }

          function sortItUp(){

              var tb = $('#myTable');
              var rows = tb.find('tr');

              rows.sort(function(a, b) {
                  var keyA = $(a).attr('cin');
                  var keyB = $(b).attr('cin');
                  return keyA - keyB;
              });
              $.each(rows, function(index, row) {
                   tb.append(row);
              });
          }


      </script>


      <div class="navigation">
       {{ knp_pagination_render(medecin) }}
      </div>

  {% endblock %}






