{% extends '@Club/Default/layoutBack.html.twig' %}


{% block body %}

        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Ajouter Club</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="row mt">
                        <div class="form-panel">
                            <div class="form">
                                {{form_start (form)}}
                                <div class="form-group ">

                                    <label for="cin" class="control-label col-lg-2">NOM:</label>
                                    {{form_widget (form.nom, {'attr': {'class': 'form-control'}})}}<br>

                                </div>
                                <div class="form-group ">
                                    <label for="nom" class="control-label col-lg-2">DESCRIPTION:</label>

                                    {{form_widget (form.description, {'attr': {'class': 'form-control'}})}} <br>
                                </div>
                                <div class="form-group ">
                                    <label for="prenom" class="control-label col-lg-2">DATE CREATION:</label>

                                    {{form_widget (form.dateCreation, {'attr': {'class': 'form-control'}})}}<br>
                                </div>

                                <div class="form-group">

                                    <input type="submit" value="Envoyer" class="btn btn-success"/>
                                </div>

                                {{form_end (form) }}

                            </div>
                        </div>
                    </div>
                </div>

</div></section>
            <!-- /wrapper -->


        <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="lib/jquery.ui.touch-punch.min.js"></script>
        <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
        <!--common script for all pages-->
        <!--script for this page-->



    {% endblock %}






