{% extends '@Club/Default/layoutBack.html.twig' %}
{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>


    <section id="main-content">
        <section class="wrapper">

            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i>List des suivis</h4>
                        <section id="unseen">

                            <input id="myInput" type="text" placeholder="Search.." onkeyup='searchTable()'>
                            <table id="t01" class="table table-bordered table-striped table-condensed">
                                <tr><th>Id</th><th>Note_anglais</th><th>Note_francais</th><th>Note_info</th><th>Date</th><th>Evaluation</th></tr>
                                {% for e in suivi %}

                                    <tr><td>{{e.id }}</td>

                                        <td>{{ e.noteAnglais }}</td>
                                        <td>{{ e.noteFrancais }}</td>
                                        <td>{{ e.noteInfo }}</td>
                                        <td> {{ e.date|date('Y-m-d') }}</td>
                                        <td> {{ e.evaluation}}</td>
                                        <td><a href="{{path('modifierSuivi',{'id':e.id})}}">Modifier</a> </td>
                                        <td><a href="{{path('suppressionsuivi',{'id':e.id})}}">Supprimer</a> </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                    <!-- /content-panel -->
                </div>
                <!-- /col-lg-4 -->
            </div>
            <script type="text/javascript">
                function searchTable() {
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("t01");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td") ;
                        for(j=0 ; j<td.length ; j++)
                        {
                            let tdata = td[j] ;
                            if (tdata) {
                                if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                    break ;
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                }

            </script>
{% endblock %}