{% extends '@Club/Default/layoutBack.html.twig' %}
{% block body %}
    {{form_start (form)}}
    <div class="form-group ">

        <label for="noteFrancais" class="control-label col-lg-2">Note Francais:</label>
        {{form_widget (form.noteFrancais, {'attr': {'class': 'form-control'}})}}<br>

    </div>
    <div class="form-group ">
        <label for="noteAnglais" class="control-label col-lg-2">Note Anglais:</label>

        {{form_widget (form.noteAnglais, {'attr': {'class': 'form-control'}})}} <br>
    </div>
    <div class="form-group ">
        <label for="noteInfo" class="control-label col-lg-2">Note Info:</label>

        {{form_widget (form.noteInfo, {'attr': {'class': 'form-control'}})}}<br>
    </div>
    <div class="form-group ">
        <label for="date" class="control-label col-lg-2">Date:</label>

        {{form_widget (form.date, {'attr': {'class': 'form-control'}})}}<br>
    </div>
    <div class="form-group ">
        <label for="enfant" class="control-label col-lg-2">Enfant:</label>

        {{form_widget (form.enfant, {'attr': {'class': 'form-control'}})}}<br>
    </div>
    <div class="form-group">

        <input type="submit" value="ajouter" class="btn btn-success"/>
    </div>

    {{form_end (form) }}
{% endblock %}