{% extends '@Club/Default/layoutBack.html.twig' %}
{% block body %}

    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Payement</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="row mt">
                    <div class="form-panel">
                        <div class="form">
                            <form method="POST" action="{{ path('validerPayement') }}">
<span>
        <input type="text" id="id" name="id" value="{{ enfant.id }}" hidden>
                            <div class="form-group ">

                                <label for="nom" class="control-label col-lg-2">NOM:</label>
                                {{enfant.nom }}

                            </div>
                            <div class="form-group ">

                                <label for="prenom" class="control-label col-lg-2">PRENOM:</label>
                                {{enfant.prenom }}
                            </div>
                            <div class="form-group ">
                                 <label for="nomfile" class="control-label col-lg-2">IMAGE:</label>
                                <img src="{{ asset('Upload/'~ enfant.nomfile) }}" width="150" height="150">
                            </div>
                        <div class="form-group ">
                            <select required name="selectType" id="selectType" >
                <option value="" selected disabled hidden>duree payement</option>
                <option value="trimester"> trimester </option>
                <option value="semester"> semester </option>
                <option value="annee"> annee </option>
                            </select></div>
                                <div class="form-group ">
        <input type="submit" value=" valider payement " name="add" class="btn btn-success"/>
                                </div>


</span>
                            </form>



                        </div>
                    </div>
                </div>
            </div>

        </div></section>
    <!-- /wrapper -->


    <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="lib/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <!--script for this page-->



{% endblock %}

